//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..
OF_INTERNAL_PATH = $(OF_PATH)
//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

//ICONS - NEW IN 0072 
ICON_NAME_DEBUG = icon-debug.icns
ICON_NAME_RELEASE = icon.icns
ICON_FILE_PATH = $(OF_PATH)/libs/openFrameworksCompiled/project/osx/

//IF YOU WANT AN APP TO HAVE A CUSTOM ICON - PUT THEM IN YOUR DATA FOLDER AND CHANGE ICON_FILE_PATH to:
//ICON_FILE_PATH = bin/data/
// - - - - - - - BLACK MAGIC - - - - - - -  //
OFXBLACKMAGIC_PATH = $(OF_INTERNAL_PATH)/addons/ofxBlackMagic
OFXBLACKMAGIC_PATH_HEADER_SEARCH_PATHS = $(OFXBLACKMAGIC_PATH)/libs $(OFXBLACKMAGIC_PATH)/libs/DeckLink $(OFXBLACKMAGIC_PATH)/libs/DeckLink/include $(OFXBLACKMAGIC_PATH)/libs/DeckLink/src $(OFXBLACKMAGIC_PATH)/src


OTHER_LDFLAGS = $(OF_CORE_LIBS)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(OFXBLACKMAGIC_PATH_HEADER_SEARCH_PATHS)

